const isProd = !(!process.env.NODE_ENV || process.env.NODE_ENV === 'development')

const config = {
    isProd,
    apiUrlPrefix: isProd ? '/api' : 'http://localhost:5000/api',
    FACEBOOK_APP_ID: "",
    PSUOauth: {
        clientId: "",
        redirectURI: '',
        authorizeURL: 'https://oauth2.eng.psu.ac.th/authorize',
        state: ''
    }
}
// state use >> crypto.createHash('md5').update(Date()).digest('hex')
export default config;
